
*::after,
*::before{
    margin: 0;
    padding: 0%;
    box-sizing: inherit;
}
html{
    font-size: 10px;
}
body{
    box-sizing: border-box;
    background-image: url("/Users/mainframe/practice_code/tetris/Game/Images/klipartz.com (11).png");
    background-repeat: repeat;
}


/* IntroModal Styles */
#intro-modal, #character-modal{
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 255, 0.5);
    display: none;
    z-index: 10;

}
#intro-text, #character-text{
    font-size: 1.5rem;
    color: white;
    width: 25vw;
    text-align: center;
    margin: auto;
}
span{
    font-size: 3rem;
}

/* close link styles */
#close, #close-char:link{
    color: white;
}
#close, #close-char:visited{
    color: red;
}
#close, #close-char:hover{
    color: black;
    background-color: white;
}

/* Character Modal Styles */
/* #character-modal{
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 255, 0.5);
    display: flex;
    z-index: 10;

} */
/* #character-text{ 
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: auto;
} */
#characters {
    display: flex;
}
#ask-column, #embla-column{
    justify-content: space-between;
}
/* Main game styles */

nav{
    border: 1px solid white;
} 

#container{
    width: 80%vw;
    height: 700px;
    background-image: url("/Users/mainframe/practice_code/tetris/Game/Images/yggdrasil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

footer{
    border: 1px solid white;
}